body {
    background: linear-gradient(45deg, #eef, #fff, #eef);
    border: 10px solid #004; 
}

h1, h2, h3,h4,h5, h6, a, li, p {
    
}


/* HEADER */

.jumbo {
    background-image: url(/img/fin/finback.png);
    background-repeat: no-repeat;
    background-size:cover;
    height: 400px;
    border-bottom: 10px solid #004; 
}

.nav li {
    list-style:none;
}

.nav li a {
    text-decoration: none;
    color:#004;
}

.section {
    color:#004;
    font-family:Century Gothic;
    background: linear-gradient(45deg, #eef, #fff, #eef);
    margin-top: 30px;
}

.work {
    display:block;
    margin: 10px;
}
