/* HEADER */

.jumbotron {
    background-image: url(../img/main/background.png);
    background-size: cover;
    background-repeat:no-repeat;
    width:100%;
    font-family:"Poiret One", sans-serif;
    text-shadow: 4px 4px 10px #006;
    text-align: center;
    padding:10% 5%;
    border-bottom: #006 groove 5px;
    border-top: #006 groove 5px;
    margin-bottom: 150px;
}

.jumbotron h1 {
    font-size:8em;
    margin:-15px 0 5px 0;
    text-align:left;
    color:oldlace;
}

.jumbotron h4 {
    font-family: Poiret One, sans-serif;
    font-size:2.5em;
    margin: 5px 0 5px 0;
    color:oldlace;
}

.nav {
    margin:10px 0 20px 0;
    text-align: center;
    padding: 30px 0 30px 0;
    font-family: "Poiret One", sans-serif;
}

.nav h3{
    font-size:4em; 
    text-shadow: 4px 4px 10px #FFF;
}

h5{
    font-size:2.5em; 
    text-shadow: 4px 4px 10px #FFF;
}

/* CONTENT */
a {
    color: #006;
}

a:hover {
    color:#FFF;
    text-decoration: none;
}

body {
    background-image:url(../img/main/paper.png);
    background-repeat:no-repeat;
    background-size:contain;
    background-attachment: fixed;
}

.credits p {
    font-family: "Poiret One", sans-serif;
    font-size: 1.2em;
    color: #006;
    text-shadow: 0px 1px 1px #006;
}

h2 {
    text-align:center;
    padding: 30px 0 30px 0;
    font-family: "Poiret One", sans-serif;
    color: #006; 
    font-size: 2.5em;
    text-shadow: 0px 1px 1px #006;
}

h4 {
    font-family: "Raleway", sans-serif;
    font-size: 2.2em;
    color: #006;
}

p {
    font-family: "Raleway", sans-serif;
    font-size: 1.5em;
    color: #006;
}

.title h3 {
    font-family: "Poiret One", sans-serif;
    color: #faf0e6;
    text-shadow: 0px 1px 1px #006;
    font-size: 3em;
}

.title {
    padding:1% 0 1% 0;
    border-bottom: #006 groove 5px;
    border-top: #006 groove 5px;
    background-image:url(../img/main/background.png);
    margin-bottom: 5%;
    margin-top: 5%;
}


/* ABOUT */

.headshot {
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    border: 4px groove #00A;
    box-shadow:2px 2px 2px #00A;
    margin-bottom: 2%;
}

.stats li {
    list-style: none;
    text-align:center;
    font-family: "Raleway", sans-serif;
    font-size: 1.2em;
    color: #006;
}

.layout-link a img:hover {
    transform:scale(1.5) rotate(360deg);
}

/* WORK */
.cred p {
    font-size:1.2em;
}

.owl-carousel .owl-controls .owl-nav .owl-prev, .owl-carousel .owl-controls .owl-nav .owl-next {
    color:#006;
    font-family: Poiret One, sans-serif;
    font-size: 1.2em;
    display: inline;
}

.owl-carousel .owl-controls .owl-nav .owl-next {
    margin-left:95%;
}
.owl-carousel {
  width: 100%;
}

.owl-carousel .owl-item img {
  width: 100%;
}

.owl-carousel .owl-controls .owl-nav .owl-next:hover, .owl-carousel .owl-controls .owl-nav .owl-prev:hover {
    color:#FFF;
    padding: 0 3px 0 3px;
    background-color:#006;
    border-radius:3px;
}

.work img {
    border: 4px groove #00A;
    margin-bottom: 2%;
}

.work {
    margin-bottom: 5%;
}

/* PLAY */

.play a {
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    color: #006;
}

.play a:hover {
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    color: #00B;
}

.play button {
    margin-top: 10px;
    border: 2.5px ridge #006;
    background-color:rgba(255, 255, 255, 0.2);
    font-size: 1.5em;
    border-radius:10px;
}

.play button:hover {
    box-shadow: 0px 0px 10px #006;
}


/* ELEPHANT */

.carousel .item{
    margin: 2px; 
} 
 
.carousel-inner img {
  margin: auto;
 width: 70%;
}

.carousel-caption {
    color:#FFF;
    text-shadow:0 0 2px #000;
    font-family:"Raleway", sans-serif;
    font-size: 0.8em;
    background-color:rgba(0,0,102, 0.4);
    bottom: -5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.carousel-control.right{
    background-image: linear-gradient(to right,rgba(0,0,102,.0001) 0,rgba(0,0,102,.5) 100%);
}

.carousel-control.left {
    background-image: linear-gradient(to left,rgba(0,0,102,.0001) 0,rgba(0,0,102,.5) 100%);
}

.nav-mini {
    margin:10px 0 20px 0;
    padding: 30px 0 30px 0;
    font-family: "Poiret One", sans-serif;
    color: #006;
}
.nav-mini img{
    width:150px;
}

.icons a {
   font-family: "Poiret One", sans-serif;
} 

/* CONTACT */
.contact {
    margin: 10% 0;
}

.icons {
    margin: 5% 0 5% 0;
} 

.elephant a {
   font-family: "Poiret One", sans-serif;
    font-size:1.5em;
    margin-right: 5%;
} 



@media only screen and (max-width: 1275px) {
    /* tablets and phones in portrait*/
    
.carousel-caption {
    font-size: 0.4em;
    background-color:rgba(0,0,102, 0.4);
    bottom: -5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.carousel .item{
    height: 60%;
} 
    
.nav-mini {
    margin:5px 0 5px 0;
    padding: 10px 0 10px 0;
}
    
.nav-mini img{
    width:100%;
}

.photo{
    border: 1px;
}


.owl-carousel .owl-controls .owl-nav .owl-next {
    margin-left:93%;
}

@media only screen and (max-width: 800px) {
    /* PHONES */
    
  
.jumbotron {
    padding:15% 5% 15% 5%;
    border-bottom: #006 groove 5px;
    border-top: #006 groove 5px;
    margin-bottom: 30px;
}

.jumbotron h1 {
    font-size:4.2em;
    margin:5% 1% 5% 1%;
    text-align: center;
}

.jumbotron h3 {
    font-size:2.5em;
    margin: 15px 0 0 0;
}

.jumbotron h4 {
    font-size:1.2em;
    margin: 5px 0 5px 0;
}

.nav-mini img{
    width:120%;
}

.nav {
    margin:1%;
    padding: 5px 0 5px 0;
}

.nav h3{
    font-size:3em; 
}

.nav h5{
    font-size:1.5em; 
}

.nav img {
   width: 80px;     
} 
    
.owl-carousel .owl-controls .owl-nav .owl-next {
    margin-left:83%;
}

p {
    font-size: 1.2em;
}

.title h3 {
    font-size: 2em;
}


