/* HEADER */

.jumbotron {
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat:no-repeat;
    width:100%;
    font-family:"Poiret One", sans-serif;
    text-shadow: 4px 4px 10px #006;
    text-align: center;
    padding:10% 5%;
    border-bottom: #006 groove 5px;
    border-top: #006 groove 5px;
    margin-bottom: 150px;
}

.jumbotron h1 {
    font-size:8em;
    margin:-15px 0 5px 0;
    text-align:left;
    color:oldlace;
}

.jumbotron h4 {
    font-size:2.5em;
    margin: 5px 0 5px 0;
    color:oldlace;
}

.nav {
    margin:10px 0 20px 0;
    text-align: center;
    padding: 30px 0 30px 0;
    font-family: "Poiret One", sans-serif;
}

.nav h3{
    font-size:4em; 
    text-shadow: 4px 4px 10px #FFF;
}

h5{
    font-size:2.5em; 
    text-shadow: 4px 4px 10px #FFF;
}

/* CONTENT */
a {
    color: #006;
}

a:hover {
    color:#FFF;
    text-decoration: none;
}

body {
    background-image:url(../img//paper.png);
    background-repeat:no-repeat;
    background-size:cover;
}

.credits p {
    font-family: "Poiret One", sans-serif;
    font-size: 1.2em;
    color: #006;
    text-shadow: 0px 1px 1px #006;
}

h2 {
    text-align:center;
    padding: 30px 0 30px 0;
    font-family: "Poiret One", sans-serif;
    color: #006; 
    font-size: 2.5em;
    text-shadow: 0px 1px 1px #006;
}

h4 {
    font-family: "Raleway", sans-serif;
    font-size: 2.2em;
    color: #006;
}

p {
    font-family: "Raleway", sans-serif;
    font-size: 1.5em;
    color: #006;
}

.title h3 {
    font-family: "Poiret One", sans-serif;
    color: #faf0e6;
    text-shadow: 0px 1px 1px #006;
    font-size: 3em;
}

.title {
    padding:1% 0 1% 0;
    border-bottom: #006 groove 5px;
    border-top: #006 groove 5px;
    background-image:url(../img/background.png);
    margin-bottom: 2%;
}


/* ABOUT */

.headshot {
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
    border: 4px groove #00A;
    box-shadow:2px 2px 2px #00A;
    margin-bottom: 2%;
}

.stats li {
    list-style: none;
    text-align:center;
    font-family: "Raleway", sans-serif;
    font-size: 1.2em;
    color: #006;
}

/* WORK */
.work {
    margin-bottom: 5%;
}

.work a {
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    color: #006;
}

#work a:hover {
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    color: #00B;
}

.photo{
    border: 4px groove #00A;
    margin-bottom: 2%;
}

.cred p {
    font-size:1.2em;
}

.work button {
    margin-top: 10px;
    border: 2.5px ridge #006;
    background-color:rgba(255, 255, 255, 0.2);
    font-size: 1.5em;
    border-radius:10px;
}
.work button:hover {
    box-shadow: 0px 0px 10px #006;
}

/* PLAY */
 
.carousel-inner img {
  margin: auto;
}

.carousel-caption {
    color:#FFF;
    text-shadow:0 0 2px #000;
    font-family:"Raleway", sans-serif;
    font-size: 0.8em;
    background-color:rgba(0,0,102, 0.5);
}

/* CONTACT */

.icons {
    margin: 5% 0 5% 0;
} 

.icons a {
   font-family: "Poiret One", sans-serif;
} 

.contact {
    margin: 10% 0;
}
