@media only screen and (max-width: 1275px) {
    /* tablets and phones in portrait*/


@media only screen and (max-width: 800px) {
    /* PHONES */
        
.jumbotron {
    padding:15% 5% 15% 5%;
    border-bottom: #006 groove 5px;
    border-top: #006 groove 5px;
    margin-bottom: 30px;
}

.jumbotron h1 {
    font-size:4.2em;
    margin:5% 1% 5% 1%;
    text-align: center;
}

.jumbotron h3 {
    font-size:2.5em;
    margin: 15px 0 0 0;
}

.jumbotron h4 {
    font-size:1.2em;
    margin: 5px 0 5px 0;
}

.nav {
    margin:1%;
    padding: 5px 0 5px 0;
}

.nav h3{
    font-size:3em; 
}

.nav h5{
    font-size:1.5em; 
}

.nav img {
   width: 80px;     
}    

.title h3 {
    font-size: 2em;
}
