<!DOCTYPE html>
<html ng-app="myApp">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
      <title> SL9 Design</title>
        <link rel="stylesheet" href="css/normalize.css" type="text/css" media="screen">
        <link href='https://fonts.googleapis.com/css?family=Poiret+One|Raleway:400,200' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="screen">
        <link rel="stylesheet" href="css/owl.carousel.css" type="text/css" media="screen">
        <link rel="stylesheet" href="css/main.css" type="text/css" media="screen">
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="img/favicon.ico" type="image/x-icon">
        <script src="js/angular.min.js" type="text/javascript"></script>
        <script src="js/ng-content.js" type="text/javascript"></script>
  </head>
      <body ng-controller="MainController">
        <header>
             <div class="row nav">
                <div class="col-xs-6 col-md-2">
                    <a href="#about">
                        <h3>?</h3>
                        <h5>About</h5>
                    </a>
                </div>
                <div class="col-xs-6 col-md-2">
                    <a href="#work">
                        <h3>W</h3>
                        <h5>Work</h5>
                    </a>
                </div>
                <div class="col-xs-12 col-md-4">
                     <img src="/img/logos/SL9logo.svg" width=150px>
                </div>
                <div class="col-xs-6 col-md-2">
                    <a href="#play">
                        <h3>P</h3>
                        <h5>Play</h5>
                    </a>
                </div>
                <div class="col-xs-6 col-md-2">
                   <a href="#contact">
                        <h3>@</h3>
                        <h5>Contact</h5>
                    </a>
                </div>
            </div>
            <div class="jumbotron">
                <div class="row">
                    <div class="col-xs-12 col-md-offset-3 col-md-9">
                        <h1 class="text-center">Sandy Harned</h1>
                        <h4>designer, developer, project (and production) manager</h4>
                    </div>
                </div>
            </div>
        </header>
  
        <div class="container section" id="about">
            <div class="row">
                <div class="title col-xs-offset-2 col-xs-8">
                    <h3 class="text-center"> {  About me  } </h3>
                </div>
            </div>
            <img class="headshot center-block" src="img/headshot2.jpg" alt="photo of me" width="250px">
            <div class="container bio">
                    <p>{{ aboutme1 }}</p>
                    <p>{{ aboutme2 }}</p>
                    <p>{{ aboutme3 }}</p>
            </div>
            <div class="stats row"> 
                <div class="col-sm-6">
                    <h2>Education and certifications</h2>
                    <ul>
                        <li ng-repeat="ed in education">{{ed}}</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <h2>Programs and languages</h2>
                    <ul>
                        <li ng-repeat="lang in languages">{{lang}}</li>
                    </ul>
                </div>    
            </div>
        </div>
        <div class="container text-center" id="themes">
            <div class="row">
                <div class="title col-xs-offset-2 col-xs-8">
                    <h3> {  Themes } </h3>
                </div>
            </div>  
          <div class="themes">
                    <p class="text-center">Want to see this page with a different layout and CSS? Choose one:</p>
                        <div class="container icons">
                            <div class="row layout-link">
                                <a class="col-sm-2" href="/casanova.html">
                                    <img src="/img/logos/SL9logo.svg" width=40px>
                                    <h5>a</h5>
                                </a>
                                 <a class="col-sm-2" href="/findesiecle.html">
                                    <img src="/img/logos/SL9logo.svg" width=40px>
                                    <h5>b</h5>
                                </a>
                                 <a class="col-sm-2" href="/knighthood.html">
                                    <img src="/img/logos/SL9logo.svg" width=40px>
                                    <h5>c</h5>
                                </a>
                                <a class="col-sm-2" href="/promenade.html">
                                    <img src="/img/logos/SL9logo.svg" width=40px>
                                    <h5>d</h5>
                                </a>
                                <a class="col-sm-2" href="/regeneration.html">
                                    <img src="/img/logos/SL9logo.svg" width=40px>
                                    <h5>e</h5>
                                </a>
                                <a class="col-sm-2" href="/index.html">
                                    <img src="/img/logos/SL9logo.svg" width=40px>
                                    <h5>f</h5>
                                </a>
                            </div>
                        </div>
                 </div>
          </div>
        <div class="container" id="work">
            <div class="row">
                <div class="title col-xs-offset-2 col-xs-8">
                    <h3 class="text-center"> {  Work  } </h3>
                </div>
            </div>
            <div class="container">
                <div class="work"> 
                    <h4>{{projectA.title}}</h4>
                        <a href="{{projectA.link}}">
                        <img class="photo center-block" ng-src="{{projectA.image}}" width="60%"></a> 
                        <p class="container"> {{projectA.blurb}}</p>
                </div>
                <div class="work"> 
                    <h4>{{projectB.title}}</h4>
                        <a href="{{projectB.link}}"><img class="photo center-block" ng-src="{{projectB.image}}" width="60%"></a> 
                            <p class="container">    
                                {{projectB.blurb}}
                            </p>
                </div>
                <div class="work"> 
                    <h4>{{projectC.title}}</h4>
                                <div class="owl-carousel">
                                    <div><img src="img/copro1.png"></div>
                                    <div><img src="img/Pet-model.png"></div>
                                    <div><img src="img/petr1.png"></div>
                                    <div><img src="img/petr2.png"></div>
                                    <div><img src="img/petr3.png"></div>
                                    <div><img src="img/petr4.png"></div>
                                    <div><img src="img/copro3.png"></div>
                                    <div><img src="img/copro2.png"></div>
                                </div>
                    <div class="container">
                        <p>{{projectC.blurb}}</p>
                        <div class="cred"> 
                            <p>{{projectC.credits}}</p>
                        </div>
                    </div>
                </div>
            </div>
          </div>
            <div class="container" id="play">
        <div class="row">
            <div class="title col-xs-offset-2 col-xs-8">
                <h3 class="text-center"> {  Play  } </h3>
            </div>
        </div>
           <div class="container">
                <div class="play"> 
                    <h4>The Effervescing Elephant</h4>
                    <p>
                        I started this project to practice my Illustrator skills, then I kept going with it just for fun. <br>It's one of my favorite (very silly) songs. I will add more verses soon. Enjoy!
                    </p>
                    <img class="elephant center-block" src="img/elephant/elephant1.png" width="40%">
                    <a href="elephant.html"><button class="center-block">click to view</button></a> 
                </div>
            </div>
        </div>
        <div class="container text-center" id="contact">
            <div class="row">
                <div class="title col-xs-offset-2 col-xs-8">
                    <h3> {  Contact  } </h3>
                </div>
            </div>
            <div class="contact">
                <h4 class="text-center">Thanks for reviewing my portfolio. I'd love to hear from you. </h4>
                    <p class="text-center">Please contact me at one of the following links:</p>
                        <div class="container icons">
                            <div class="row">
                                <a class="col-sm-4" href="mailto:denrahydnas@gmail.com">
                                    <img src="/img/main/email.png" width="40%">
                                    <h5>email</h5>
                                </a>
                                <a class="col-sm-4" href= "https://github.com/Denrahydnas">
                                    <img src="/img/main/git.png" width="40%">
                                    <h5>github</h5>
                                </a>
                                <a class="col-sm-4" href= "https://www.linkedin.com/in/sandyharned">
                                    <img src="/img/main/linked.png" width="40%">
                                    <h5>linked in</h5>
                                </a>
                            </div>
                        </div>
                 </div>
            </div>
      
    
        <footer>
            <div class="credits text-center">
                    <p> &copy; 2016 SL9Design</p>
            </div>
         </footer>
        <script src="//code.jquery.com/jquery-1.12.0.min.js" type="text/javascript"></script>
        <script src="js/owl.carousel.min.js" type="text/javascript"></script>
        <script src="js/owlfunction.js" type="text/javascript"></script>
    </body>
</html>