.jumbotron {
    background-image: url(/img/logojumbo.png);
    background-size: cover;
    background-repeat:no-repeat;
    width:100%;
}

.jumbotron h1 {
    font-family: sans-serif;
    font-size:8em;
    color: #fff;
    text-shadow: 4px 4px 10px #006;
    margin:-15px 0 5px 0;
    padding:0;
}

.jumbotron h3 {
    font-family: sans-serif;
    font-size:4em;
    color: #fff;
    text-shadow: 4px 4px 10px #006;
    margin: 15px 0 0 0;
    padding:0;
    text-align: center;
}

.jumbotron h4 {
    font-family: sans-serif;
    font-size:1.5em;
    color: #fff;
    text-shadow: 4px 4px 10px #006;
    margin: 5px 0 5px 0;
    padding:0;
    text-align: center;
}